p Here's were we list and handle accounts and of course your money...
    p Account name: #{model.get("name")}
    p Total: #{model.get("amount")} kr
    p Account type: #{model.get("accountType")}
    p Date created: #{model.get("createDate")}


