form.form-horizontal.add-account-form
    .form-group
        label.col-sm-2.control-label Name
        .col-xs-2
            input(name='name').form-control
            
    .form-group
        .col-xs-offset-2.col-xs-10
            button(type="submit").btn.btn-default Add account
        