.nav
    .navbar.navbar-default
        .navbar-header
            a(href='#start').navbar-brand
                img(src='style/images/Bulldozer.png')
        .navbar-collapse.collapse
.top-content
    .currentPage.col-xs-5
    .currentUser.pull-right.col-xs-2
        span.col-xs-4 Haris Kljajic
        img(src='style/images/haris.jpg').img-circle.img-polaroid
.content.col-xs-12

footer
    .footer
        section.section_bottom
            .inner
                .footer-social
                .block_copyrights
                    p Copyright © 2013 devHaris All rights reserved.