ul.nav.navbar-nav
	li.active.start(data-name='start')
		a(href='#start')
			span.glyphicon.glyphicon-home
			span  Start
	li.dropdown.accounts
		a(href="#").dropdown-toggle(data-toggle="dropdown")
			span.glyphicon.glyphicon-usd 
			span  Accounts
		ul.dropdown-menu
			li
				a(href='#accounts') 
					span.glyphicon.glyphicon-align-left
					span  Account list
			li
				a(href='#account/new')
					span.glyphicon.glyphicon-plus-sign
					span  New account
ul.nav.navbar-nav.navbar-right
	li(data-name='doc')
		a(href='doc.html')
			span.glyphicon.glyphicon-book 
			span  Docs

