ul.nav.navbar-nav
	li.active.start(data-name='start')
		a(href='#start')
			span.glyphicon.glyphicon-home
			span  Start
	li.accounts(data-name='accounts')
		a(href='#accounts')
			span.glyphicon.glyphicon-usd 
			span  Accounts
	li.loan(data-name='loan')
		a(href='#loan')
			span.glyphicon.glyphicon-briefcase 
			span  Loan
ul.nav.navbar-nav.navbar-right
	li(data-name='doc')
		a(href='doc.html')
			span.glyphicon.glyphicon-book 
			span  Docs

