blockquote
    p How does it work?
    small In the menu section under "Accounts" you can navigate through the diffrent accounts created. These accounts are personal and attached to your authorization/login. With the accounts you can buy stock market share, found under section "Stock market".
blockquote
    p How do i add a new account then?
    small Under the Accounts section there is New account. There you can create a new account, choose amount and type of account.
p.text-danger Good luck - devHaris

img(src='style/images/lol.gif').lolGif