body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url('../images/bg.png');
}
div.nav .navbar-header img{
    width: 50px;
    margin-left: 5px;
    margin-top: 0px;
}
div.navbar .dropdown a.dropdown-toggle{
      border-left: 1px solid #333;
  border-right: 1px solid #333;
}
div.navbar {
    border-radius: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #333;
    background-color: #333;
}
div.currentUser{
    min-width: 190px;
}
div.currentUser img{
    width: 65px;
}
div.currentUser span{
    margin-top: 10px;
}
div.container{
    padding: 0px 0px 0px 0px;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}
div.content{
    border-top: 1px solid rgb(236, 235, 235);
    min-height: 500px;
    margin: 75px 10px 10px 10px;
}
footer{
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}
div.footer .section_bottom{
    height: 80px;
    border-top: 1px solid #3e3d3d;
    background-color: #333333;
    display: block;
}
div.footer .section_bottom p{
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: #9c9c9c;
    -webkit-font-smoothing: antialiased;
    margin: 35px 0 0 40px;
}
.spinner{
    top: 200px;
    left: 50%;
}
img.lolGif{
    width: 60%;
}
.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }

.action button{
    margin-right: 5px;
}
.container .content .panel{
    margin-top: 15px;
}
.container .form-group{
    margin-right: 5px;
    margin-top: 5px;
}
.container #search-form button{
    margin-top: 5px;
}
.container .content .specificAccount{
    margin-top: 15px;
    margin-bottom: 160px;
}
.container .content .start{
    margin-top: 15px;
    max-width: 650px;
}
.flashMessage{
    position: absolute;
    top: 67px;
    z-index: 200;
    padding: 25px;
    margin-left: 30px;
    margin-top: 5px;
    max-width: 350px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid black;
}