body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url('../images/bg.png');
}
div.nav .navbar-header img{
    width: 50px;
    margin-left: 5px;
    margin-top: 0px;
}
div.navbar .dropdown a.dropdown-toggle{
      border-left: 1px solid #333;
  border-right: 1px solid #333;
}
div.navbar {
    border-radius: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #333;
    background-color: #333;
}
div.currentUser{
    min-width: 190px;
}
div.currentUser img{
    width: 65px;
}
div.currentUser span{
    margin-top: 10px;
}
div.container{
    padding: 0px 0px 0px 0px;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}
div.content{
    border-top: 1px solid rgb(236, 235, 235);
    min-height: 500px;
    margin: 75px 10px 10px 10px;
}
div.content .add-account-form{
    margin-top: 20px;
}
footer{
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}
div.footer .section_bottom{
    height: 80px;
    border-top: 1px solid #3e3d3d;
    background-color: #333333;
    display: block;
}
div.footer .section_bottom p{
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: #9c9c9c;
    -webkit-font-smoothing: antialiased;
    margin: 35px 0 0 40px;
}